venv/
__pycache__/
*.pyc

# Dataset
data/creditcard.csv

# Model files
models/
*.pkl

# MLflow
mlruns/
mlartifacts/
mlflow.db

# Outputs
outputs/

# Test artifacts
api_results_full.csv
test_transactions_full.csv

# Environment
.env

# Jupyter
.ipynb_checkpoints/